.container
  %h1 All Board
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        %div
          %h4= board.titlename
          %p= board.content
          .board_detail
          = image_tag 'default-avatar.png', class: 'header_avatar'

  = link_to new_board_path do
    .float_btn
      %p + Add new board